player-connection-mode=Listen
player-connection-guid=1929018762
player-connection-debug=0
player-connection-project-name=VROnlineProject
player-connection-ip=192.168.1.26
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
build-guid=1f552497c6674b8ea499ed6ef009a122
