player-connection-mode=Listen
player-connection-guid=3178869437
player-connection-debug=0
player-connection-project-name=VROnline
player-connection-ip=192.168.1.26
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
build-guid=505d21e1f3fb4b2584c2ada8ffcd7e24
